* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
  font-size: 21px;
  color: #37293a;
  background-color: #E8C2CA; 
}

:root {
  --font: 60px;
  --softPink: #F7D1CD;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

/*Header and Nav bar*/
header {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr;
  background-color: #735D78;
  padding: 10px
}

#navBar li {
  list-style-type: none;
  display: inline-flex;
  padding-left: 20px;
  padding-top: 10px;

}

#navBar li a {
  text-decoration: none;
  color: var(--softPink);
  font-size: 24px;
  font-weight: bold;
}

header h1 {
  padding-top: 10px;
  padding-left: 50px;
  font-size: 45px;
  color: var(--softPink)
}

.Emma {
  color: #ffffff;
  text-decoration: underline;
}

/* Banner and Profile pic*/
.hero-banner {
  background-image: url("../images/bluesky2.png");
  height: 400px;
  width: 100%;
  position: relative;
  text-align: center;
}

#bannerContent img {
  position: absolute;
  width: auto;
  opacity: 0.9;
  z-index: 1;
  height: 399px;
  bottom: 1px;
  right: 75px;
  border: 5px solid #ffffff;
  border-radius: 50px;
}

#heroText {
  position: absolute;
  z-index: 2;
  bottom: 25px;
  right: 1px;
  font-size: 45px;
  padding: 10px 80px 10px 180px;
  color: #37293a;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 50px 0px 0px 50px;
}

/*About me content*/

#about {
  padding: 50px;
}

aside {
  width: 25%;
  padding-left: .5rem;
  margin-left: .5rem;
  float: left;
}

#about h2 {
  font-size: var(--font);
}

.aboutparagraph {
  align-content: center;
}

/*Portfolio content*/

#work {
  padding: 50px;
}

#work h2 {
  font-size: var(--font);
}

#linkOne {
  display: block;
  width: 100%;
  object-fit: fill
}

#linkTwo {
  display: block;
  width: 100%;
  object-fit: fill;
}
#linkThree {
  display: block;
  width: 100%;
  object-fit: fill;

}

#linkFour {
  display: block;
  width: 100%;
  object-fit: fill;
}

#linkFive {
  display: block;
  object-fit: fill;
  width: 100%;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.9);
  transition: 0.3s;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.9);
  opacity: 0.3;
}

.container {
  padding: 2px 16px;
}

/*Work examples grid*/

#workGrid {
  display: grid;
  height: 180vh;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  grid-template-rows: 1fr 1fr 1fr;
}

#one {
  grid-column: 1 / 4;
  grid-row: 1;
}

#two {
  grid-column: 1 / 3;
  grid-row: 2; 
}

#three {
  grid-column: 3 / 4;
  grid-row: 2;
}

#four {
  grid-column: 1 / 2;
  grid-row: 3;
}

#five {
  grid-column: 2 / 4;
  grid-row: 3
}

/*Contact content*/

#contact h2 {
  font-size: var(--font);
}

#contact {
  padding: 50px;
  text-align: center;
}

.contactInfo li {
  list-style-type: none;
  color:#37293a;
  display: inline-flex;
  padding-left: 50px;
  text-align: center;
}

.contactInfo li a {
  text-decoration: none;
  color: #37293a;
}

/*Media queries*/

@media only screen and (max-width: 900px) {

#workGrid {
  display: grid;
  height: 180vh;
  grid-template-columns: 1fr;
  gap: 10px;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

#one {
  grid-column: 1;
  grid-row: 1;
}

#two {
  grid-column: 1;
  grid-row: 2; 
}

#three {
  grid-column: 1;
  grid-row: 3;
}

#four {
  grid-column: 1;
  grid-row: 4;
}

#five {
  grid-column: 1;
  grid-row: 5
}
}

@media only screen and (max-width: 400px) {

  #workGrid {
    display: grid;
    height: 180vh;
    grid-template-columns: 1fr;
    gap: 10px;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  }
  
  #one {
    grid-column: 1;
    grid-row: 1;
  }
  
  #two {
    grid-column: 1;
    grid-row: 2; 
  }
  
  #three {
    grid-column: 1;
    grid-row: 3;
  }
  
  #four {
    grid-column: 1;
    grid-row: 4;
  }
  
  #five {
    grid-column: 1;
    grid-row: 5
  }

body {
  font-size: 16px;
}

#about h2 {
  font-size: 32px;
}

#work h2 {
  font-size: 32px;
}

#contact h2 {
  font-size: 32px;
}

header h1 {
  font-size: 32px;
}

#navBar li a {
  text-decoration: none;
  color: var(--softPink);
  font-size: 16px;
  font-weight: bold;
}

#bannerContent img {
  position: absolute;
  width: auto;
  opacity: 0.9;
  z-index: 1;
  height: 300px;
  bottom: 1px;
  right: 75px;
  border: 5px solid #ffffff;
  border-radius: 50px;
  }

  #heroText {
    position: absolute;
    z-index: 2;
    bottom: 25px;
    right: 1px;
    font-size: 28px;
    padding: 10px 80px 10px 80px;
    color: #37293a;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 50px 0px 0px 50px;
  }
}